.box
  .name
    %h1{style: "color: #{box.room.color_code}"}
      = box.room.identifier
      %br
      = box.id
  .items
    %ul
      -box.items.first(8).each do |item|
        %li= truncate(item.name, length: 80)
      %li= "#{box.items.count - 8} Other Items" if box.items.count > 8
